img {
  width: 32px;
  height: auto;
}

.form-header {
  display: grid;
  grid-template-columns: 40px 1fr;
  
  grid-gap: 15px;

  place-items: center;

  padding: 10px;
}

textarea {
  resize: 'vertical'
}